<h1 class="text-center my-3">Cadastro de usuários</h1>
<form action="/usuarios/Create" method="post">
<div class="row w-50 d-block m-auto g-3">
<div class="col-12">
<label class="form-label" for="nome">Nome:</label>
<input
class="form-control"
type="nome"
name="nome"
id="nome"
placeholder="Digite seu nome"
/>
</div>
<div class="col-12">
<label class="form-label" for="email">Email:</label>
<input
class="form-control"
type="email"
name="email"
id="email"
placeholder="Digite seu e-mail"
/>
</div>
<div class="col-12">
<label class="form-label" for="senha">Senha:</label>
<input
class="form-control"
type="senha"
name="senha"
id="senha"
placeholder="Digite sua senha"
/>
</div>
<div>
<input class="btn btn-primary my-3" type="submit" value="Cadastrar usuário"
/>
</div>
</div>
</form>