<h1 class="text-center my-3">Sistema de Cadastro de Livros</h1>
<form action="/livros/Cadastrar" method="post">
<div class="row w-50 d-block m-auto g-3">
<div class="col-12">
<label class="form-label" for="titulo">Título do Livro:</label>
<input
class="form-control"
type="text"
name="titulo"
id="titulo"
placeholder="Digite o nome do livro"
/>
</div>
<div class="col-12">
<label class="form-label" for="autor">Autor do livro:</label>
<input
class="form-control"
type="text"
name="autor"
id="autor"
placeholder="Digite o nome do autor do livro"
/>
</div>
<div class="col-12">
<label class="form-label" for="preco">Preço do livro:</label>
<input
class="form-control"
type="text"
name="preco"
id="preco"
placeholder="Digite o preço do livro"/>
</div>
<div class="col-12">
<label class="form-label" for="link">Link da capa do livro:</label>
<input
class="form-control"
type="text"
name="link"
id="link"
placeholder="Digite o link da imagem do livro"/>
</div>
<div>
<input class="btn btn-primary my-3" type="submit" value="Cadastrar Livro" />
</div>
</div>
</form>
